* {
    margin: 0;
    padding: 0;
  }

  input[type="radio"] {
    display: none;
  }

  .titulo {
    display: inline-block;
    vertical-align: middle;
    color: #B30733;
    text-align: left;
    font-size: 23px;
    font-family: montserrat;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .linha {
    display: inline-block;
    height: 3px;
    color: #2E4765;
    opacity: 0.2;
    width: 87%;
    vertical-align: middle;
  }

  .linha2 {
    display: inline-block;
    height: 3px;
    color: #2E4765;
    opacity: 0.2;
    width: 100%;
    vertical-align: middle;
  }

  .botaoImagem {
    width: 100%;
    /* height: 320px; */
    border: 1px solid #2E476533;
    border-radius: 20px;
    /* background-color: white; */
  }

  .imagemPizzaria1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* background-image: url(../../assets/img/pizzariamatexpequena.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
  }

  .pratoIcon {
    position: relative;
    top: 159px;
    left: 13px;
    background-color: transparent;
    width: 35px;
    height: 34px;
  }

  .subtituloPizzaria1 {
    font-size: 21px;
    font-weight: 500;
    font-family: montserrat;
    text-align: left;
    color: #B30733;
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 18px; */
  }

  .coracao {
    cursor: pointer;
    /* width: 17px; */
    /* height: 15px; */
    /* margin-left: 230px; */
  }

  .avaliacoes1 {
    display: flex;
    gap: 12px;
    color: #2E4765;
    font-weight: 500;
    text-align: left;
    margin: 0 0 16px 0;
    /* margin-left: 18px; */
  }

  .tipoPizza {
    /* display: inline-block; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    background-color: #2E47650D;
    width: 80px;
    /* height: 24px; */
    border-radius: 20px;   
    margin: 0px;
    padding: 6.17px 5.48px;
    opacity: 80%;
    font-weight: 400;
    color: #2E4765;
  }

  .tempoPizza {
    color: #2E4765;
    font-weight: 500;
  }

  .estrelas {
    width: 13px;
    height: 13px;
    color: #EF4C00;
    /* margin-right: 40px; */
  }

  .clock {
    margin-right: 3px;
    vertical-align: sub;
  }

  .imagemPizzaria2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url(../../assets/img/pizzariaerivaxpequena.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 154px;
    border-radius: 20px 20px 0px 0px;
  }

  .imagemPizzaria3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url(../../assets/img/pizzariacairopequena.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 154px;
    border-radius: 20px 20px 0px 0px;
  }

  /* .botaoPizza {
    width: 100%;
    height: 154px;
    border-radius: 20px 20px 0px 0px;
  } */

  

