/* Header  */

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.header_title {
  text-align: left;
  letter-spacing: 0px;
  color: #ef4c00;
  text-transform: uppercase;
  opacity: 1;
  font-size: 25px;
  margin: 0;
}

.header_menu_list {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
  left: 45px;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

.header_responsive {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-items: flex-end;
}

.header_menu_list:hover {
  transition: 0.2s;
}

.header_menu_list li a {
  text-decoration: none;
  color: #2e4765;
  font-weight: 500;
}

.header_menu_list li:hover {
  border-bottom: 2px solid #ef4c00;
}

.home_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_img img {
  border-radius: 50%;
  width: 56px;
  height: 53px;
}

.cart {
  display: flex;
  justify-content: right;
  border-radius: 8px;
  opacity: 1;
  align-items: center;
}

.button_cart {
  display: flex;
  background-color: #ef4c00;
  text-decoration: none;
  width: 115px;
  height: 48px;
  border-radius: 28px;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 15px;
}

.button_cart p {
  background: transparent;
  color: white;
  margin: 0;
}

@media screen and (max-width: 1350px) {
  .header_responsive {
    gap: 20px;
  }
}

@media screen and (max-width: 1206px) {
  .header_menu_list {
    gap: 30px;
  }
}

@media screen and (max-width: 1105px) {
  .divider_vertical {
    display: none;
  }
}

@media screen and (max-width: 1082px) {
  .header_menu_list {
    gap: 20px;
  }
}

@media screen and (max-width: 1028px) {
  .button_cart p {
    display: none;
  }

  .button_cart {
    width: auto;
    padding: 10px;
    height: 40px;
  }
}

@media screen and (max-width: 970px) {
  .header_menu_list {
    gap: 10px;
  }
}

@media screen and (max-width: 852px) {
  .header_menu_list {
    display: none;
  }
  .header_responsive {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 20px;
  }
}

/* @media screen and (max-width: 768px) {

} */

@media screen and (max-width: 425px) {
  .pizza_img img {
    width: 50px;
  }
}
