.bannerpizza_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* background-image: url("../../assets/img/bannerpizza2.png"); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 369px;
  border-radius: 35px;
  padding-right: 50px;
  margin-top: 26px;
}

.banner_title {
  background: transparent;
  color: #b30733;
  font-size: 38px;
  font-weight: 500;
  text-align: right;
}

.banner_text {
  background: transparent;
  color: #b30733;
  font-size: 25px;
  font-weight: 500;
  opacity: 1;
  text-align: right;
}

.banner_description {
  background: transparent;
  color: #ff4a40;
  font-size: 20px;
  opacity: 1;
  text-align: right;
  font-weight: 500;
}

.banner_description_type_container {
  background: transparent;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.banner_description_type {
  background: #f1f1f1;
  color: #2E4765;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  opacity: 0.8;
}

.button_container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  gap: 20px;
}

/*Começo do responsivo - 1024px*/

@media (max-width: 1024px) {
  .banner_text {
    font-size: 18px;
  }
}

/*configuração do 768px*/

@media (max-width: 768px) {
  .banner_title {
    font-size: 28px;
  }
  .banner_text {
    display: none;
  }
  .banner_description {
    width: 250px;
    word-wrap: break-word;
  }
}

/*responsivo 425px*/

@media (max-width: 425px) {
  .banner_title, .banner_text, .banner_description {
    background: #f1f1f1;
    padding: 5px 10px;
    border-radius: 10px;

  }
}

/*Responsivo 375px*/

@media (max-width: 375px) {
  .banner_title, .banner_text, .banner_description {
    background: #f1f1f1;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
  }
}

/*Responsivo 320px*/

@media (max-width: 320px) {
  .banner_title, .banner_text {
    background: #f1f1f1;
    text-align: center;
    border-radius: 10px;
  }
  .banner_description{
    padding: 1px;
    margin: 10px -15px;
  }
}


